@mixin deadcenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin color($colorB, $colorF) {
  background-color: $colorB;
  color: $colorF;
}
@mixin Font($wght, $fam) {
  font-family: $fam;
  font-weight: $wght;
}

$hint-Color: #fed136;
* {
  margin: 0px;
}
body {
  margin: 0px;
  @include Font(300, Roboto + Slab);

  .stack-cont {
    padding: 20px, 0px;
    h1 {
      font-size: 2rem;
      @include Font(700, Noto + Serif);
    }
  }
  .profile-card {
    .img-wrp {
      @include deadcenter();
      img {
        border-radius: 40px;
        border-color: #fed136;
        border-width: 10px;
      }
    }
    .tit-wrp {
      @include deadcenter();
    }
    .cont-wrp {
      display: flex;
      justify-content: space-around;
    }
  }
  .soft-wrp {
    padding-left: 3rem;
  }
  // .sskills-cnt {
  //   // display: flex;
  //   // justify-content: center;
  // }
  .form-wrp {
    .ff-wrp {
      display: flex;
      flex-direction: column;
    }
    .sf-wrp {
      display: flex;
      flex-direction: column;
    }
    input {
      padding: 0.5rem;
    }
    .avail-cont {
      @include deadcenter();
      select {
        padding: 0.5rem;
      }
    }
  }
  .desc-wrp {
    padding: 0 0.8rem;
  }
}
